doctype html
html(lang="en")
  head
    title My Cars

  body
    h1 Welcome on My Cars
    p This application will help you manage your cars!

    ul
        - for(car in cars) {
            li= cars[car].brand
        - }
